.logo img {
    width: 40px;
    height: auto;

}


.wrapper,
.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}



.logo-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}

#mobile-menu-wrapper {
    position: fixed;
    top: 2px;
    left: 2px;
    width: 250px;
    height: auto;
    background: var(--background-light);
    padding: 20px 10px;
    z-index: 1000;
}

.mobile-menu-wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mobile-menu-wrapper ul:hover {
    color: var(--text-color);

}



.mobile-menu-wrapper .logo {
    margin-bottom: 15px;
    margin-left: 0;
}

.mobile-menu-wrapper ul li ul li a {
    margin-left: 0;
    margin-top: 4px;
}




.container-head-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    align-items: flex-start;
    justify-content: space-between;

}


.header-right {
    display: flex;
    align-items: center;
    gap: var(--gap)
}

.nav-ul-head {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 35px;

}

.nav-ul-head li {
    position: relative;
}

.nav-ul-head li a:hover {
    color: var(--secondary-color);
}

.dropdown-head {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1000;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
}

.dropdown-head li a {
    display: block;
    font-size: 14px;
    color: #414142;
    white-space: nowrap;
    text-align: left;
    padding: 10px 15px;

}

.dropdown-head li a:hover {
    color: rgb(58 186 180);

}


.nav-ul-head li:hover>.dropdown-head {
    display: block;
}

.nav-ul-head li.active>.dropdown-head {
    display: block;
}


label {
    width: 70px;
    height: 30px;
    position: relative;
    display: block;
    background: var(--primary-color);
    border-radius: 50px;
    cursor: pointer;

}


input::placeholder {
    font-size: 16px;
    text-align: left;

}




.hero-left p {
    white-space: normal;
    text-align: left;

}


label:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: auto;
    border-radius: 80px;
}

#dark-mode {
    position: absolute;
    width: 0;
    height: 0;
    margin: -1;
    padding: 1;
    visibility: hidden;


}

input:checked+label {
    background: #242424;
}

input:checked+label:after {
    left: 58px;
    transform: translateX(-100%);
    background: linear-gradient (#777, #3a3a3a);
}

label:after:active {
    width: 80px;
}

.nav-ul-head {
    margin-left: 0;
}


.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
}

.hero-left {
    flex: 1 1 50%;
    max-width: 700px;
}

.hero-right {
    position: relative;
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;

}

.hero-left h1 {
    font-size: 80px;
    line-height: 1.1;
    max-width: 800px;
    white-space: normal;
    padding-left: 0;
}

.hero-left p {
    padding-left: 0;
    white-space: wrap;
}

.hero-img2 {
    width: 100%;
    height: 55%;
    margin-left: 200px;
    margin-top: 100px;
    border-radius: 12px;
    display: block;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 10 px;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 12px;
    z-index: 3;
}


.video-play-btn {
    position: absolute;
    top: 60%;
    left: 77%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: rgb(127, 40, 40);
    background: var(--background-light);
    border-radius: 50%;
    padding: 30px;
    cursor: pointer;
    z-index: 4;

}

.video-play-btn:hover {
    background: var(--sfondo-secondario);
}


.frecce-button {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    max-width: 100%;
    margin: 0 auto 16px auto;
    padding-left: 5vw;
    padding-right: 5vw;
}



.frecce-button button {
    border: none;
    border-radius: none;

}


.frecce-button button i {
    font-size: 28px;
    color: var(--text-light);

}



.stat-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
    margin-top: 60px;
}

.stat-item {
    text-align: center;
    padding: 40px 10px;
}


.stat-item div:first-child {
    font-size: 40px;
    margin-bottom: 2px;
    font-weight: bold;
}


.stat-item div:nth-child(2) {
    font-size: 15px;
    margin-top: 0;

}

.carousel-viewport {
    overflow: visible;
    position: relative;
    width: 100%;

}


.carousel,
.carousel-viewport {
    padding: 0;
    margin: 0;
}

.carousel-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
}


.carousel-slide {
    flex: 0 0 33.333%;
    /* 3 slide visibili sullo schermo */
    position: relative;
    opacity: 0.6;

}



.carousel-slide.active {
    opacity: 1;
    z-index: 2;
}


.carousel-slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    padding: 0;
    margin: 0;
}



.slide-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
}

.carousel-slide.active .slide-btn {
    opacity: 1;
    pointer-events: auto;
}

.video-header {
    padding-top: 30px;
}

.video-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 100px;


}

.video-filter {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: left;
}


.video-filter>button.btn-video i {
    color: var(--primary-color);
    font-size: 20px;
    padding-right: 6px;
}

.video-filter>button.btn-video {
    text-align: left;
}




.video-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(35px, 1fr));
    align-items: start;
    gap: 30px;
    width: 45%;
    cursor: pointer;
    margin-right: 0;
    padding-bottom: 60px;


}


.video-list .video-play {
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

}


.video-play img {
    width: 100%;
    height: auto;
}


.video-play div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
    padding: 6px;
    width: 100%;
    background: var(--sfondo-secondario);
}


.mockup-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0;
    max-width: 1200px;
}


.mockup-item img {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 80%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 20px;
    display: block;

}


.mockup-item div span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 25px;
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 120px;
    color: var(--text-light);
}

.full {
    background-color: var(--background-dark);
    margin: 0;
    padding: 0;
}

.start-header {
    padding-top: 20px;
}

.start-header h2 {
    color: var(--text-light);
}

.start-body {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 70px;
    margin-bottom: 40px;
}

.start-cards {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    margin-top: 60px;
    margin: 0;
}



.start-slide {
    width: 90%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 80px;

}

.start-slide>div>div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.start-slide .start-y {
    font-size: 18px;
    font-weight: bold;
}

.start-slide>div>div:first-child div:nth-child(2) {
    font-size: 12px;
    color: rgb(58 186 180);
    background-color: rgb(58, 186, 180, 0.4);
    border-radius: 45%;
    width: 45px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.start-list ul li span {
    display: inline;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    color: var(--paragraf-color);
    padding-left: 0px;
    white-space: nowrap;

}

.start-list ul {
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.start-list ul li::before {
    content: "✓";
    color: rgb(58 186 180);
    display: inline-block;
    line-height: 1;
    margin-right: 10px;
}

.start-list div {
    font-size: 20px;
    color: var(--text-light);
}

.start-slide>div>div:nth-child(2)>span:nth-child(2) {
    font-size: 50px;
    font-weight: bold;
}

.start-slide>div>div:nth-child(2)>span:first-child {
    font-size: 24px;
    color: var(--paragraf-color);
}

.start-slide>div>div:nth-child(3)>div {
    font-size: 18px;
    color: var(--paragraf-color);
    padding-top: 10px;
}

.start-slide>div:last-child {
    display: flex;
    justify-content: center;

}


.testimonials {
    margin-top: 40px;
}

.testimonial-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-top: 40px;
    margin-bottom: 30px;
}


.testimonial-card {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.testimonial-img {
    display: flex;
    align-items: center;
    justify-content: center;

}

.testimonial-img img {
    width: 65px;
    height: auto;
    border-radius: 50%;
}


.testimonial-text {
    font-size: 20px;
    color: var(--text-color);
    line-height: 1.4;
    text-align: center;

}

.testimonial-card span {
    display: flex;
    align-items: center;
    justify-content: center;

}

.testimonial-card span a {
    color: var(--primary-color);
    margin-left: 8px;
}

.clarity-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    gap: var(--gap);
    padding: 30px 0;
}

.clarity-slide div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 10px;

}

.clarity-slide div:first-child {
    font-size: 30px;
    color: var(--text-light);
}

.clarity-slide div:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-light);
}

.clarity-slide div:nth-child(3) {
    color: var(--text-light);
    margin-bottom: 40px;
}

.clarity-slide.a {
    background: var(--primary-color);
}

.clarity-slide.b {
    background-color: var(--purple-color);
}

.clarity-slide.c {
    background-color: var(--blue-color);
}

.clarity-slide.d {
    background-color: var(--pink-color);
}


.free {
    background: var(--background-dark);
    padding: 70px;

}

.free-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;

}


.free-text h3 {
    color: var(--text-light);
    margin: 0;

}

#box-input {
    background-color: var(--background-dark);


}

#box-input::placeholder {
    color: var(--paragraf-color);
}


.footer {
    margin-bottom: 30px;
}

.footer-top {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    gap: 15px;
    align-items: start;
    padding: 0 10px;
    margin-bottom: 20px;
}

.footer-img.logo {
    padding-top: 30px;
}

.footer-top h6 {
    font-size: 14px;
    margin-bottom: 6px;
    text-transform: uppercase;
    padding-top: 10px;
}

.footer-top ul {
    padding: 0;
    line-height: 1.7;
    font-size: 14px;
}


.footer-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-icon ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.footer-icon ul a {
    font-size: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: var(--text-light);
    padding: 5px 5px;

}

.footer-icon ul a:hover {
    background: var(--primary-hover);
}

.cruip {
    font-size: 14px;
}

.footer-bottom>div:nth-child(2) {
    font-size: 14px;
    display: flex;
    gap: 6px;
}