.logo img {
    width: 40px;
    height: auto;

}


.wrapper,
.container {
    max-width: var(--max-width);
}


.logo-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}

#mobile-menu-wrapper {
    position: fixed;
    top: 2px;
    left: 2px;
    width: 250px;
    height: auto;
    background: var(--background-light);
    padding: 20px 10px;
    z-index: 1000;
}

.mobile-menu-wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mobile-menu-wrapper ul:hover {
    color: var(--text-color);

}



.mobile-menu-wrapper .logo {
    margin-bottom: 15px;
    margin-left: 0;
}

.mobile-menu-wrapper ul li ul li a {
    margin-left: 0;
    margin-top: 4px;
}




.container-head-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}


.header-right {
    display: flex;
    align-items: center;
    gap: var(--gap)
}

.nav-ul-head {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 35px;

}

.nav-ul-head li {
    position: relative;
}

.nav-ul-head li a:hover {
    color: var(--secondary-color);
}

.dropdown-head {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1000;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
}

.dropdown-head li a {
    display: block;
    font-size: 14px;
    color: #414142;
    white-space: nowrap;
    text-align: left;
    padding: 10px 15px;

}

.dropdown-head li a:hover {
    color: rgb(58 186 180);

}


.nav-ul-head li:hover>.dropdown-head {
    display: block;
}

.nav-ul-head li.active>.dropdown-head {
    display: block;
}


label {
    width: 70px;
    height: 30px;
    position: relative;
    display: block;
    background: var(--primary-color);
    border-radius: 50px;
    cursor: pointer;

}


input::placeholder {
    font-size: 16px;
    text-align: left;

}

.hero-left {
    margin-top: 35px;

}

.hero-left h1 {
    margin-bottom: 10px;
}

.hero-left p {
    white-space: nowrap;
}


label:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: auto;
    border-radius: 80px;
}

#dark-mode {
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked+label {
    background: #242424;
}

input:checked+label:after {
    left: 58px;
    transform: translateX(-100%);
    background: linear-gradient (#777, #3a3a3a);
}

label:after:active {
    width: 80px;
}

.nav-ul-head {
    margin-left: 0;
}

.container .hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    min-height: 90vh;
}


.hero-right {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: auto;
}



.hero-img2 {
    width: 70%;
    height: 70%;
    margin-left: 140px;
    margin-top: 60px;
    border-radius: 12px;
    display: block;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 12px;
    z-index: 3;
}


.video-play-btn {
    position: absolute;
    top: 50%;
    left: 68%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    cursor: pointer;
    z-index: 4;
}


.frecce-button {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}



.frecce-button button {
    border: none;
    border-radius: none;

}


.frecce-button button i {
    font-size: 28px;
    color: var(--text-light);

}



.stat-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
    margin-top: 60px;
}

.stat-item {
   
    text-align: center;
    padding: 4px;
}


.stat-item h3 {
    font-size: 40px;
    margin-bottom: 2px;
    font-weight: bold;
}


.stat-item p {
    font-size: 15px;
    margin-top: 0;
    padding-bottom: 15px;
}