@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {

    --primary-color: #3abab4;
    --secondary-accent: #ffcc89;
    --primary-hover: #45a39e;
    --secondary-color: #242424;
    /* sfondo dark-mode */
    --text-color: #414142;
    --paragraf-color: #8d8d95;
    --text-light: #f2f2f2;
    /* testo per dark-mode */
    --sfondo-principale: #ffffff;
    --sfondo-secondario: #f2f2f2;
    --background-light: #ffffff;
    --background-dark: #242424;
    /* sfondo per dark-mode */
    --background-opacity: #2d2d33;
    --pink-color: #f687b3;
    --blue-color: #007aff;
    --gray-color: #8d8d95;
    --max-width: 1200px;
    --gap: 20px;
    --border-radius: 4px;
     --max-width: 1200px;
     --gap-2: 40px;

}



* {

    box-sizing: border-box;
}





body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-light);
    color: var(--text-color);

}


body.dark-mode {
    background-color: var(--secondary-color);
    color: var(--text-light);
}

body.dark-mode .card {
     background-color: var(--background-opacity);
}

body.dark-mode .card h3,
 body.dark-mode .card p {
    background-color: var(--background-opacity);
}

body.dark-mode .btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    display: block;
}

a {
    text-decoration: none;
    color: var(--text-color);

}

.footer a:hover {
    text-decoration-line: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    line-height: 1.1;
    margin-bottom: 0;
    margin-top: 80px;

}

h1 {
    font-size: 90px;
    font-weight: bold;
    white-space: nowrap;

}


h2 {
    font-size: 55px;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
}

h3 {
    font-size: 40px;
    white-space: nowrap;
}

p {
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    color: var(--paragraf-color);
    padding-bottom: 30px;


}


input,
textarea {
    font-family: 'Inter', sans-serif;
    padding: 15px 40px;
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color);
    background: var(--background-light);
    color: var(--text-color);
}

body.dark-mode * {
    background-color: var(--background-dark);
    color: var(--text-light);
}


body.dark-mode li a:hover {
    color: var(--text-light);
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 25px;
}

section {
    padding: 60px 0;
   
}


ul {
    list-style: none;
    line-height: 2;
}


.hero-ul {
    padding-left: 0;
    margin-top: 20px;
}

.hero-ul li::before {
    content: "✓";
    color: var(--primary-color);
    margin-right: 8px;
}



.theme-switch {
    width: 55px;
    height: 30px;
    display: block;
    position: relative;
    background-color: var(--primary-color);
    border-radius: 40px;
    cursor: pointer;
}

.theme-switch:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    top: 2.5px;
    left: 2.5px;
    color: #ffffff;

}

input:checked+.theme-switch {
    background: var(--secondary-color);
}

input:checked+.theme-switch:after {
    left: 0;
    background: var(--secondary-accent);
}